body{
    margin: 0;
}
.container{
    margin-bottom: 80px;
}
.font{
    font-size: 80px;
    color: #1b1435;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Old Standard TT', serif;
}
.font2{
    color: #1b1435;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Old Standard TT', serif;
}
.textPart{
    padding-right: 70px;
}
.imagePart{
    padding-left:120px ;
}
.cardStyle{
    padding: 25px;
}
.textColor{
    color: #5A527C;
}
.cardStyle {
    background-color: white;
    border-radius: 70px 0px;
    box-shadow: 2px 2px 5px rgb(139, 138, 138);
}
.button{
    background-image: linear-gradient(to right, #1CD8BA, #07ADEB) !important;
    border-radius: 30px 0px;
    width: 150px;
    height: 50px;
    border: none  !important;
    color: white;
    
}


.backgroundImage{
    background-image: url("image/bg-1.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 180px;
    background-repeat: no-repeat;
}
.bgStyle{
    background-image: url("image/image-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.backgroundImage3{
    background-image: url("image/bg-6.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.images img{
    width: 100%;
}
.ourp{
    margin-top: 20px;
    color: #b3b5b4;
}
.achievements-btn1{
    background-color: aqua;
    border: none;
    color: white;
    margin-top: 18px;
    background-image: linear-gradient(to right,   #1cd8b9 , #0fbdd9);
    padding: 42px 50px;
    border-radius: 0px 30px 0px 30px;
}
.achievements-btn1 img{
    width: 45px;
}
.achievements-btn2{
    background-color:white;
    border: none;
    color: #b3b5b4;
    padding: 42px 50px;
    margin-left: 10px;
    margin-top: 18px;
    border-radius: 30px 0px 30px 0px;
    box-shadow: 2px 2px 5px 2px #e6fdf3;
}
.achievements-btn2 img{
    width: 45px;
}
.achievements-btn3{
    background-color:white;
    border: none;
    color: #b3b5b4;
    padding: 38px 60px;
    margin-top: 18px;
    border-radius: 30px 0px 30px 0px;
    box-shadow: 2px 2px 5px 2px #e6fdf3;
}
.achievements-btn3 img{
    width: 45px;
}
.achievements-btn4{
    background-color: white;
    border: none;
    color: #b3b5b4;
    padding: 42px 65px;
    margin-top: 18px;
    margin-left: 10px;
    border-radius: 0px 30px 0px 30px;
    box-shadow: 2px 2px 5px 2px #e6fdf3;
}
.achievements-btn4 img{
    width: 45px;
}
.btnSet{
    display: none;
}
.card:hover .btnSet {
    display: block;
    margin-left: 60px;
}
.logo{
    height: 50%;
}
.footer{
    margin-top: 200px;
}

                